.header{
    height: 84px;
    display: flex;
    justify-content: right;
    align-items: center;
    background: linear-gradient( 180deg,rgba(255, 255, 255) 5%,rgba(138,138,138,1) 73%, rgb(48, 48,48));  ;
}
.figureHeader{
color: #8eb38e;
}
/* <---------------------Progress Bar-----------------------------> */
    .progresbar{
        display: flex;
        margin: 40px 0;
        width: 100%;
    }
    .progresbar .step{
        position: relative;
        text-align: center;
        width: 100%;
    }
    .progresbar .step p{
        font-size: 23px;
        margin: auto;
        width: 190px;
    }
    .progresbar .step .bullet{
        position: relative;
        height: 25px;
        background-color: white;
        width: 25px;
        border: 2px solid #000;
        display: inline-block;
        border-radius: 50%;
    }
    .progresbar .step .bullet:before,
    .progresbar .step .bullet:after{
        position: absolute;
        content: '';
        bottom: 11px;
        right: -265px;
        height: 6px;
        border-radius: 10%;
        width: 260px;
       /*  background: #262626; */
    }
    .progresbar .step:last-child .bullet:before,
    .progresbar .step:last-child .bullet:after{
        display: none;
    }
    .progresbar .step .bullet:after{
        background: #789c3d;
        transform: scaleX(0);
        transform-origin:left;
        animation: animate 0.5s linear forwards;
    }
    @keyframes animate{
        100%{
            transform: scaleX(1);
        }
    }  
    .progresbar .step span{
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .progresbar .step .chek{
        display: none;
        position: absolute;
        left: 50%;
        top: 70%;
        font-size: 15px;
        transform: translate(-50%, -50%);
    }
/* ---------------------------------------------------------------------------------- */
body{
    margin: 0;
    background-color: lavender;
}
.contenedorForm{
/* overflow: hidden; */
}
.slidepage{
    margin-left: auto;
}
.form{
    display: flex;
    background-color: #f4fbff;
    margin: 0px auto;
    /* justify-content: space-between; */
    /* flex-direction: column; */
    border-radius: 5px;
    min-width: 800px;
    /* max-width: 80%; */
    width: 400%;
}

.Section{
    display: flex;
    justify-content: space-around;
    margin: 0px auto;
    padding: 12px 40px;
    background: #8eb38e;
    width: 1000px;
}


.InfoInput{
    display: flex;
}
.description{
    background-color: rgb(150, 226, 203);
    padding: 0 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto 0;
    border-radius: 10px;
}
.description h2{
    background-position-x: center;
}

/* <----------------Swirches------------------> */
.switch{
    margin: auto 0px auto 30px;
    position: relative;
    height: 34px;
    width: 60px;
    display: inline-block;
}
.switch input{
    opacity: 0;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(139, 100, 100);
    border-radius: 20px;
    transition: 1s; /* tranciciondel color */
}
.slider:before{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background-color: rgb(222, 238, 213);
    left: 4px;
    top: 4px;
    transition: 1s;/* transicion desmarcado */
}
input:checked + .slider{
    background-color: #2ab92a;  
    
}
input:checked + .slider:before{
    transition: 1s;/* transicion a marcado*/
    transform:translateX(26px);
}
/* -------------------------------------------*/

/*------------Pagina3 MEMBRECIAS--------------*/
.SectionMem{
    display: flex;
    justify-content: center;
    margin: 0px auto;
    padding: 20px 40px;
    background: #c79904;
    width: 1000px;
    flex-direction: column;
}
.Memheader{
   /*  border-bottom: 3px solid gray;
    border-left: 5px solid gray;
    border-right: 5px solid gray;
    border-top: 5px solid gray; */
    border: 5px solid gray;
    background-color: lightsteelblue;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.SectionMemH1{
    width: 650px;
    margin: 0px auto;
    padding: 10px 0px;
}
.SectionMemP{
    width: 300px !important;
    margin: auto;
    color: #ffffff; 
}
.memOptionsList{
    display: flex;
    border: 2PX solid gray;
}

.memOption{
display: flex;
width: 25%;
background-color: lightsteelblue;
border: 5PX solid gray;
flex-direction: column;
align-items: center;
justify-items: center;
}
.memOption b{
    font-size: 24px;
}
.p1{
    width: 85%;
    margin: 5px 0px;
    font-size: 40px;
    background: #96d48f;
    padding: 0px 0;
    border: 2px solid grey;
    font-weight: bold;
    text-align: center;
    border-radius: 7px;
}
.p2{
    width: 100%;
    border: 2px solid gray;
   /*  background: rgb(122, 236, 122); */
    text-align: center;
    font-size: 18px;
    padding: 5px 0;
    display: flex;
}
.p3{
    width: 100%;
    background: rgb(122, 236, 122);
    text-align: center;
    font-size: 18px;
    padding: 5px 0;
    border-bottom: 2px solid gray;
}
.p4{
    width: 160px;
    pad: 5px;
}
.divDeco1{
    width: 10%;
    height: 31px;
    background: lightsteelblue;
    align: none;
    /* top: 4px; */
    margin: -7px 18px;
    border: 2px solid gray;
}
.divDeco2{
    width: 60%;
}

/* ------------------------------------------ */



.divImg{
    margin: 0 10px 0 0;
}
.figureMembrecia{
    margin: 0px;
    height: 663px;
    border: 2px solid rgba(201, 155, 6, 0.842);
    width: 511px;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
    background: #f4fbff;
}
.img{
    width: 520px;
    object-fit: cover;
    margin: 0px 0px 0px -5px;
}

.form h2{
    color: white;
}
.form p{
    width: 210px;
    font-size: 20px;
}
.form input{
    height: 30px;
    margin: auto ;
    border: 1px solid gray ;
    border-radius: 3px;
}

.buttonform button{
    width: 150px;
    height: 40px;
    font-size: 25px;
    text-align: center;
    font-weight: 600;
    background-color: #70ac48;
    border: none;
    border-radius: 10px;
    margin: 5px 10px;
    cursor: pointer;
    transition: .5s;
}
.buttonform button:hover{
    background-color: black;
    color: white;
}